<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
   <form method="post">

<label>
    <p>
        A telefon Neve: <br>
        <input type="text" name="name">
    </p>
</label>
<label>
    <p>
        A telefon tipusa: <br>
        <input type="text" name="phonetype">
    </p>
</label>
<label>
    <p>
        A telefon színe: <br>
        <input type="color" name="color">
    </p>
</label>
<label>
    <p>
        A telefon ára: <br>
        <input type="number" name="price">
    </p>
</label>
<label>
    <p>
        A telefon akkumlátor színtje: <br>
        <input type="number" name="battery">
    </p>
</label>
<label>
        A telefon állapota: <br>
</label>
    <label for="durability"></label>
        <select name="durability" >
            <option value="Új">új</option>
            <option value="Újszerű">Ujszeru</option>
            <option value="Karcos">Karcos</option>
        </select>
<label>
    <p> <input type="submit" value="OK"> </p>
    </label>
   </form>
  </body>
</html>